{
  "presets": [
    "react",
    ["env", {
      "loose": true,
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
