.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form-horizontal .checkbox {
  min-height: 27px;
  padding-right: 10px;
  padding-left: 6px;
  max-height: 27px;
}
