.display-none {
  display: none;
}
.ant-menu-item-brand > i.fa {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: -10px;
  font-size: 34px;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-vertical > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 16px;

  a {
    display: block;
    color: #666;
  }

  &::after {
    content: none;
  }
}
.ant-select-selection__rendered > ul {
  margin: 0;
}
.ant-menu-horizontal > .ant-menu-item-brand:hover,
.ant-menu-horizontal > .ant-menu-item-brand:focus, {
  border-bottom: 0px;
}
.ant-menu-horizontal > .ant-menu-item-right,
.ant-menu-horizontal > .ant-menu-submenu-right {
  float: right;
}
.ant-menu-horizontal > .ant-menu-item > a:hover,
.ant-menu-horizontal > .ant-menu-submenu > a:hover,
.ant-menu-horizontal > .ant-menu-item > a:focus,
.ant-menu-horizontal > .ant-menu-submenu > a:focus,
.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title > a:hover,
.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title > a:focus {
  text-decoration: none;
}
.ant-menu-item-separated {
  border-left: 1px dashed #e4e4e4;
}

.main-nav {
  border-bottom: 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .4);

  & > .ant-menu-item:not(.ant-menu-item-brand):hover, & > .ant-menu-item-selected, & > .ant-menu-item-active, & > .ant-menu-submenu:hover  {
    &.ant-menu-item-brand {
      border-bottom: 2px solid transparent;
    }
  }
}

.ant-spin {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.olymp-container {
  padding: 15px;
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}

.olymp-submenu {
  font-size: 13px;
  line-height: 38px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .4), inset 0 7px 9px -7px rgba(0, 0, 0, .6);

  & > ul {
    max-width: 1600px;
    margin: 0 auto;
    line-height: 38px;
    background-color: transparent;
  }

  a {
    color: #999 !important;
  }

  .ant-menu-item-selected a, a:hover {
    color: #FFF !important;
  }
}
