.olymp-media {
  .card.card-block {
    border: none;
    float: left;
    min-height: 100px;
    min-width: 100px;
    width: 11%;
    margin: .75%;
    cursor: pointer;
    border-radius: 0;
    background-color: transparent;

    &:before{
      content: "";
      display: block;
      padding-top: 100%; 	/* initial ratio of 1:1*/
    }

    &:hover {
      animation: none;
      transform: scale(1.1);
      transition: all .15s ease-in-out;
      z-index: 3;

      &.file img, .overlay {
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75) !important;
      }
    }

    &.file {
      img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
      }

      .label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #900090;
        color: #FFF;
        border-radius: 50%;
        text-align: center;
        font-size: 40px;
        width: 50px;
        height: 50px;
        line-height: 1.25;
        padding-left: 1px;
      }

      /* Jiggling-Animation */
      &.selected {
        animation-name: jiggle;
        animation-iteration-count: infinite;
        animation-duration: 1.2s;
        transform-origin: 50% 50%;
        opacity: 0.75;
        z-index: 2;

        &:hover {
          opacity: 1;
        }

        @keyframes jiggle {
          0% {
            transform: rotate(-2deg) scale(1.25);
            animation-timing-function: linear;
          }
          50% {
            transform: rotate(2deg) scale(1.25);
            animation-timing-function: linear;
          }
          100% {
            transform: rotate(-2deg) scale(1.25);
            animation-timing-function: linear;
          }
        }
      }
    }

    &.directory {
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .7);
        // border: 1px solid fade(#2db7f5, 40%);
        border-radius: 50%;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);

        &:hover {
          background-color: rgba(255, 255, 255, .6);
          // border: 1px solid fade(#2db7f5, 70%);
        }
      }

      h6 {
        position: absolute;
        text-align: center;
        z-index: 2;
        top: 50%;
        left: 50%;
        max-width: 90%;
        max-height: 90%;
        transform: translate(-50%, -50%);
        color: #333;
        text-decoration: none;
      }

      img {
        display: inline-block;
        width: 100/3%;
        height: 100/3%;
      }

      .boxed {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        background-color: #2db7f5;
      }
    }

    &.boxed, .boxed {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
